
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spring MVC</title>
	</head>
	<body>
		
		<form action="#" th:action="tasks" th:object="${command}" method="post">
			
		 <label>Id</label>	
		<input type="text" th:field="*{id}" />

		 <label>Task</label>	
    
		<input type="text" th:field="*{task}" />

		 <label>Assigned To</label>	

		<input type="text" th:field="*{assingedTo}" />
		
		
				 <label>CompletionDate</label>	


		<input type="date" th:field="*{completionDate}" />
    
        
      <input type="submit" value="Submit" /> 
</form>

		
	</body>
</html>



